.parent {
  @apply flex flex-col h-screen;

  .mywindow {
    @apply mockup-window border border-base-300 h-full;

    .content {
      @apply flex flex-col items-center justify-center px-4 py-16 border-t border-base-300 h-full;
    }
  }

  .basement {
    @apply footer mt-auto items-center p-4 bg-neutral text-neutral-content flex justify-between;

    .copyright {
      @apply items-center grid-flow-col;
    }

    .socialicons {
      @apply grid-flow-col gap-4 place-self-center justify-self-end;
    }

  }
}
